<li class="treeview">
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>系统首页</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/admin/index/index"><i class="fa "></i>系统首页</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-gears"></i> <span>系统设置</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/admin/config/index"><i class="fa "></i>系统设置</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-shopping-cart"></i> <span>内容管理</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/admin/nav/index"><i class="fa "></i>导航管理</a></li>
        <li><a href="/admin/ads/index"><i class="fa "></i>广告管理</a></li>
        <li><a href="/admin/product/index"><i class="fa "></i>商品管理</a></li>
        <li><a href="/admin/partner/index"><i class="fa "></i>案例管理</a></li>
        <li><a href="/admin/menu/index"><i class="fa "></i>菜单管理</a></li>
        <li><a href="/admin/page/index"><i class="fa "></i>页面管理</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-edit"></i> <span>文章管理</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/admin/article/index"><i class="fa "></i>文章管理</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-group"></i> <span>用户管理</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/admin/admin/index"><i class="fa "></i>管理员管理</a></li>
    </ul>
</li>
